
@Styles.Render("~/Content/Site.css")

<div class="PdfContainer split left">

    @using (Html.BeginForm("UploadPdf", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <input type="file"
               id="file"
               name="file"
               accept=".pdf"/>

        <input class="btn" type="submit" name="Submit" value="Upload PDF" />

    }
    <div class="elements">
        <object class="pdf" data="@Url.Action("GetPDF")" type="application/pdf"></object>
    </div>
</div>

<div class="xmlContainer split right">

    @using (Html.BeginForm("UploadXml", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file"
               id="xmlfile"
               name="xmlfile"
               accept=".xml" />

        <input class="btn" type="submit" name="Submit" value="Upload XML" />
    }


    <div class="elements">
        @foreach (var x in ViewBag.Xml)
        {
            <pre>@x</pre>
        }
    </div>
</div>



