
@Styles.Render("~/Content/pdfxml.css")

<div class="PdfContainer split left">
    <input type="file"
           id="pdffile"
           accept=".pdf"
           style="position: absolute; padding: 50px; float: right; clear: both;"/>
    <div class="elements">
        <object class="pdf" data="@Url.Action("GetPDF")" type="application/pdf"></object>
    </div>
</div>

<div class="xmlContainer split right">
    <input type="file"
           id="xmlfile"
           accept=".xml"
           style="position: absolute; padding:50px; float: right; clear: both;"/>

    <div class="elements">
        @foreach (var x in ViewBag.Xml){
        <pre>@x</pre>
        }
    </div>
</div>



